@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
  --white:hsl(0, 0%, 100%);

  /* Light Mode */
  --very-dark-blue-text: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray-bg:  hsl(0, 0%, 98%);

  /* Dark Mode */
  --Dark-Blue : hsl(209, 23%, 22%);
  --very-dark-blue-bg : hsl(207, 26%, 17%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans';
}

.light {
  --header-background-color: var(--white);
  --element-background-color: var(--white);
  --header-text-color: var(--very-dark-blue-text);
  --element-text-color: var(--very-dark-blue-text);
  --header-shadow: 0px -10px 20px var(--dark-gray);
  --element-shadow: 0px 0px 5px var(--dark-gray);
  --placeholder-text-color: var(--dark-gray);
  background-color: var(--very-light-gray-bg);
  color: var(--very-dark-blue-text);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark {
  --header-background-color: var(--Dark-Blue);
  --element-background-color: var(--Dark-Blue);
  --header-text-color: var(--white);
  --element-text-color: var(--white);
  --header-shadow: none;
  background-color: var(--very-dark-blue-bg);
  --placeholder-text-color: var(--white);
  color: var(--white);
  transition: background-color 0.5s ease, color 0.5s ease;
}